<!DOCTYPE html>
<html lang="en-GB">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="initial-scale=1" />
      <% if(typeof csrfToken !== "undefined"){%>
      <meta name="csrf-token" content="<%= csrfToken %>" />
      <%}%>
      <title>Sandbox app</title>
      <link rel="stylesheet" type="text/css" href="/css/base.css" />

      <script src="/js/ajax.js"></script>
   </head>
   <body></body>
</html>
